.link {
  display: block;
  text-align: center;
  text-decoration: none;
  border-radius: 30px;
  border-width: 1px;
  padding-top: 15px;
  padding-right: 31px;
  padding-bottom: 15px;
  padding-left: 31px;
  border: 1px solid rgba(38, 38, 38, 0.15);
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.03em;
  background-color:var(--white);
}
.link:hover{
    background-color:var(--light-beige);
}
.link:global(.active) {
  border: 1px solid rgba(246, 184, 61, 1);
}
